body {
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cce8ff;
}

#wrapper {
  background-color:rgb(255, 255, 255);
  margin: 0 auto;
}

header {
  background-image: linear-gradient(to bottom right,royalblue , #B2FF59);
  padding-bottom:1.5%;
  height:700%;
}

header img {
width: 20%;
float: left;
margin-right: 5%;
margin-top: 5%;
margin-left: 5%;
}

header h1{
text-align:center;
color:navy;
font-family: "Monotype Corsiva";
margin-top: 0%;
padding-top: 3%;
}

.horz_nav {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: flex-end;
background-image: linear-gradient(to left, royalblue, #B2FF59);
padding: 1px;
margin-top: 0px;
text-align: center;
box-shadow:   0px 10px 10px #3d3c3c;
border-top: 2px solid white;
margin-bottom: 10px;
}

.horz_nav a {
text-decoration: none;
color: black;
font-size: 120%;
}

.horz_nav a:hover, a:focus {
color:#B2FF59;
}


.item {
margin: 5px;
padding: 15px;
}

.menu {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-evenly;
margin: 15px;
width:18%;
float: left;
}

.menu a{
  color:white;
  text-decoration: none;
}

.menu div:hover {
background-color: #B2FF59;
}

.item1 {
margin: 5px;
padding: 15px;
background-color: royalblue;
}

footer {
  background-color:royalblue;
  font-size: 100%;
  font-style: italic;
  text-align: center;
  padding: 5px;


}
footer a{
  text-decoration: none;
  color:white;
}

h2 {
  text-decoration: underline;
  color: navy;
  overflow: hidden;
  text-align: center;
}

#listhead1 {
text-align: center;
}

#listhead1 p2 {
text-decoration: underline;
}

section {
  padding-left: 30px;
  overflow: hidden;
  padding-right: 30px;
}

section p {
padding-left: 25px;
padding-right: 25px;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 25px;
}

#er1 {
border: solid;
margin-top: 25px;
margin-bottom: 25px;
background-color: lightyellow;
}

#pr2 {
border: solid;
margin-top: 25px;
margin-bottom: 25px;
background-color: lightblue;
}

#bathroomr3 {
border: solid;
margin-top: 25px;
margin-bottom: 25px;
background-color: lightsteelblue;
}

#ar4 {
border: solid;
margin-top: 25px;
margin-bottom: 25px;
background-color: lightgray;
}

.imgeffect {
position: relative;
width: 100%;
}

.imgeffect img {
display: block;
width: 50%;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: royalblue;
}

.imgeffect:hover .overlay {
opacity: 1;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.chat-content img {
width: 60%;
}

.chat-content {
text-align: center;
}

.chat-popup {

}

.form-container {
max-width: 600px;
padding: 10px;
background-color: white;
}

.form-container textarea {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
resize: none;
min-height: 200px;
}

.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

.form-container .cancel {
background-color: red;
}

.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

.setLocation {
margin-left: auto;
margin-right: auto;
width: 550px;
border: solid;
padding: 25px;
margin-bottom: 25px;
margin-top: 25px;
}

.setLocation h1 {
text-align: center;
}

.setLocation img {
display: block;
width: 50%;
margin-left: auto;
margin-right: auto;
}

.setLocation p2 {
text-align: center;
font-weight: bold;
}

@media only screen and (min-width: 760px) {
  header {
    padding-bottom:15px;
    height:130px;
  }
  header h1{
    text-align:center;
    color:navy;
    font-family: "Monotype Corsiva";
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 0em;
    padding-top: 45px;
  }
  header img {
    width: 300px;
    float: left;
    margin-right: 1em;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    }
}
#career2 {
width: 45%;
align-content: center;
margin-left: auto;
margin-right: auto;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-top: 30px;
}

#persinfo label {
float: left;
text-align: right;
width: 10em;
}

#persinfo input {
margin-left: 1em;
margin-bottom: 0.5em;
width: 25em;
}

#empinfo label {
float: left;
text-align: right;
width: 10em;
}

#empinfo input {
margin-left: 1em;
margin-bottom: 0.5em;
width: 25em;
}

.popup .overlay {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
background:rgba(0,0,0,0.7);
z-index:1;
display:none;
}

.popup .content {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0);
background:#fff;
width:500px;
height:250px;
z-index:2;
text-align:center;
padding:20px;
box-sizing:border-box;
font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
cursor:pointer;
position:absolute;
right:20px;
top:20px;
width:30px;
height:30px;
background:#222;
color:#fff;
font-size:25px;
font-weight:600;
line-height:30px;
text-align:center;
border-radius:50%;
}

.popup.active .overlay {
display:block;
}

.popup.active .content {
transition:all 300ms ease-in-out;
transform:translate(-50%,-50%) scale(1);
}

button {
}
@media only screen and (min-width: 480px) and (max-width: 759px) {
header img {
  width: 20%;
  float: left;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0%;
  padding-top: 5%;
}
header h1{
  text-align:center;
  color:navy;
  font-family: "Monotype Corsiva";
  font-size: 200%;
  margin-top: 0%;
  padding-top: 5%;

}

}