body {
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cce8ff;  
}

#wrapper {
    background-color:rgb(255, 255, 255);
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to bottom right,royalblue , #B2FF59);
    padding-bottom:1.5%;
    height:700%;
}
    
header img {
  width: 20%;
  float: left;
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
    
header h1{
  text-align:center;
  color:navy;
  font-family: "Monotype Corsiva";
  margin-top: 0%;
  padding-top: 3%;
}

.horz_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  background-image: linear-gradient(to left, royalblue, #B2FF59);
  padding: 1px;
  margin-top: 0px;
  text-align: center;
  box-shadow:   0px 10px 10px #3d3c3c;
  border-top: 2px solid white; 
  margin-bottom: 10px;
}

.horz_nav a {
  text-decoration: none;
  color: black;
  font-size: 120%;
}

.horz_nav a:hover, a:focus { 
 color:#B2FF59;
 }
 

.item {
  margin: 5px;
  padding: 15px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
  width:18%;
  float: left;
}

.menu a{
    color:white;
    text-decoration: none;
}

.menu div:hover {
  background-color: #B2FF59;
}

.item1 {
  margin: 5px;
  padding: 15px;
  background-color: royalblue;
  /* padding-left: 15px; */
}

footer {
    background-color:royalblue;
    font-size: 100%;
    font-style: italic;
    text-align: center;
    padding: 5px;
  
}
footer a{
  text-decoration: none;
  color:white;
}

h2 {
    color: navy;
    overflow: hidden;
    font-size: 200%;
    font-family: "proxima-nova","Helvetica Neue";
} 

.image_1{
  width: 70%;
  height: auto;
  padding-top: 10px;
  float: left;
  clear: both;
  padding-left: 10%;
}


.padding-div{
  overflow: hidden;
  clear: both;
  padding-right: 3%;
  padding-left: 3%;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.comment_p{
  margin-top: 10%;
}

#wrapper1{
  background-color:white; 
}

.post{
  background-repeat: repeat-x;
  background-color: #e38d13;
  border-color: #e38d13;
  display: block;
  width: 52%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.form-control {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}

textarea {
  overflow: auto;
}

.comment{
  height: 90px;
}

.p-w{
  font-weight: 700;
}

fieldset{
  margin: 20px;
}

.radio-inline {
  position: relative;
  display: inline-block;
  font-weight: normal !important;
  vertical-align: middle;
  cursor: pointer;
}

.form-control:hover{
  box-shadow: 0 0 5px 2px royalblue;
  outline: none;
}

.img_feedback {
  margin-top: 5%;
  margin-right: 5%;
  height: 30%;
  width: 30%;
  margin-left: 30%;
  margin-bottom: 5%;
}

.user_image {
  margin-top: 2%;
  margin-right: 5%;
  height: 30%;
  width: 30%;
  margin-left: 30%;
  margin-bottom: 5%;
  border-radius: 50%;
}


.sign_button{
  background-color: #4CAF50;
  border-color: #4CAF50;
}
  
.cancelbtn {
  background-color: #f44336;
  border-color: #f44336;
  margin-bottom: 1%;
}

.rememberMe{
  margin-bottom:15px;
}

.signup_link{
  margin-left:15%;
}

.pics_line{
  display: flex;
  text-align: center;
  border-top: 2px solid white;
}

.types_image{
  width: 20%;
}

.type_image1{
  width: 60%;
  border-radius: 50%;
}

.submit{
  margin-top: 2%;
  width: 25%;
  padding: 0.5%;
}

.boxed {
  background: #EEF5F6;
  border: solid 1px #D6E0E2;
}

.bottleImg{
  width: 60%;
}

.clear{
  clear: both;
}

.container{
  background-color: #EEF5F6;
  width: 80%;
  height: 40%;
  padding-left: 4%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2%;
  padding-top: 1%
}

.signBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.signBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.signBtn:focus {
  outline: none;
}
.signBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.signBtn_facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.signBtn_facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.signBtn_facebook:hover,
.signBtn_facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.signBtn_google {
  background: #DD4B39;
}
.signBtn_google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.signBtn_google:hover,
.signBtn_google:focus {
  background: #E74B37;
}

.thankYou{
  width: 50%;
  padding-left: 20%;
}

@media only screen and (min-width: 760px) {
    header {
      padding-bottom:15px;
      height:130px;
    }
    header h1{
      text-align:center;
      color:navy;
      font-family: "Monotype Corsiva";
      font-size: 300%;
      margin-bottom: 0;
      margin-top: 0em;
      padding-top: 45px;
    }
    header img {
      width: 300px;
      float: left;
      margin-right: 1em;
      margin-top: 20px;
      margin-left: 20px;
      float: left;
      } 
      
   .padding-div{
      overflow: hidden;
      padding-right: 3%;
      padding-left: 3%;
      }   

    .image_1{
      clear: none;
      padding-left:0;
    }

    .img_feedback{
      float: right;
      margin-left: 0;
      margin-bottom: 0;
    }

    .user_image{
      float: right;
      margin-left: 0;
      margin-bottom: 0;
    }

    .comment_p{
        margin-top: 3%;
    }

    .submit{
      width: 10%;
    }
    
}


@media only screen and (min-width: 480px) and (max-width: 759px) {
  header img {
    width: 20%;
    float: left;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    padding-top: 5%;
  }
  header h1{
    text-align:center;
    color:navy;
    font-family: "Monotype Corsiva";
    font-size: 200%;
    margin-top: 0%;
    padding-top: 5%;
      
  }
  .padding-div{
    padding-left: 12px;
    overflow: hidden;
  }

  .image_1{
    clear: none;
    padding-left:0;
    margin-left: 0%;
    margin-bottom: 0%;
  }

  .img_feedback{
    float: right;
    margin-left: 0;
    margin-bottom: 0;
  }

  .user_image{
    float: right;
    margin-left: 0;
    margin-bottom: 0;
  }

  .comment_p{
    margin-top: 3%;
  }

  .submit{
    width: 10%;
  }

}